.container{
    margin-left: 200px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell > p{
    font-weight: bold;
    font-size: 50px;
}

img[id*="player_"] {
    width: 50px;
    height: 50px;
}

